extends layout

block aboutUS
    #aboutUS
        h2 Опис сервісу
        p Головною метою даного сервісу, є полегшення ведення товарів малого підприємництва. Завдяки ньому, будь-який підприємець, зможе мати власний профіль в мережі на даному сервісі в мережі інтернет, та вести товарооблік, без встановлення допоміжного програмного забезпечення.
            Завдяки ньому, у підприємця буде збільшена швидкість та якість обслуговування клієнтів, за рахунок оптимізованої сторінки “продажу”, та інтуїтивно зрозумілого інтерфейсу.
        p Зареєстрований користувач (&#32;
            a(href="/", title="Зареєструватись") Зареєструватись
            span &#32;) у власному кабінеті на даному сервісі має змогу:
        ul
            li вести власну базу товарів(додавати нові, змінювати та видаляти існуючі);
            li вести продаж товарів(в який входить автоматизований пошук товару, та додавання його до списку проданого(за поточний день), та автоматичне списання його з бази продуктів(складу));
            li генерувати звіт за вибраний період часу, або за один день.