extends layout
block staticDialogs
	div.dialog.static#forgotPassPoup
		div.closeBtn close
		h2 Відновлення пароля
		#forgotInputWraper
			input(type='text', name='forgotEmail', id='forgotEmail', placeholder='Введіть email')
		br
		a(href="#", id="forgotPass") Відновити пароль
			span(class="star") *
		#forgotError
		#forgotSuccess(style='display:none') ✔ Пароль відіслано  на пошту.
		#forgotDescription
			span(class="star") *
			span(class="text") Пароль буде відіслано на вказану пошту.
block register
	#register-form
		h2 Реєстрація :
		#errorMessagesReg
		form(action='/register', method='GET', id='registerData')
			input(type='text', name='firstName', id='firstName', placeholder="Ім'я")
			input(type='text', name='lastName', id='lastName', placeholder='Прізвище')
			input(type='text', name='login', id='login', placeholder='Логін')
			input(type='password', name='password', id='password', placeholder='Пароль')
			input(type='text', name='email', id='email', placeholder='Email')
			input(type='submit', value='Зареєструватись')

block login
	#login-form
		h2 Авторизуватись :
		#errorMessagesLog
		form(action='/login', method='GET', id='loginForm')
			input(type='text', name='loginLogin', id='loginLogin', placeholder='Логін')
			input(type='password', name='passwordLogin', id='passwordLogin', placeholder='Пароль')
			input(type='submit', value='Увійти')
			a(href="#", id="forgotPassLink") Забули пароль?
