h3.reportTitle
	span Список реалізованих чеків 
	-var dFromString = getFormatedDate(dFrom);
	-var dTillString = getFormatedDate(dTill);
	-if(dFromString == dTillString){
		span.date станом на дату #{dFromString}	
	-}else{
		span.date станом на період з #{dFromString} по #{dTillString}
	-}
-if(salesList.length > 0){
	include checkListWithDetails	
-}else{
	div.mainError Продажі за вибраний період не знайдені.
-}