include jadeFunctions
h3.reportTitle
	span Статистика продажу товарy "#{salesList[0].prodList[0].title}" 
	-var dFromString = getFormatedDate(dFrom);
	-var dTillString = getFormatedDate(dTill);	
	-if(dFromString == dTillString){
		span.date станом на дату #{dFromString}	
	-}else{
		span.date станом на період з #{dFromString} по #{dTillString}
	-}
-if(salesList.length > 0){
	div.salesGraph
-}else{
	div.mainError Продажі за вибраний період не знайдені.
-}